.container {
  margin: 64px 128px;
}

.groupButton {
  display: inline;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.tableTitle {
  text-align: center;
  margin-bottom: 24px !important;
}

.tableContainer {
  margin-bottom: 24px;
}

.searchInput {
  width: 50%;
}

.sampleFileLink {
  margin-bottom: 24px;
}

.previewIframe {
  height: 350px;
}

.uploadFileButton {
  margin-right: 12px !important;
}

.refreshButton {
  min-width: 128px !important;
}

@media (max-width: 768px) {
  .container {
    margin: 16px 32px;
  }
  .searchInput {
    width: 100%;
  }

  .uploadFileButton {
    margin-bottom: 12px !important;
  }

  .logoutButton {
    max-height: 40px !important;
  }
}
